@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Manrope:wght@600&family=Montserrat:wght@500&family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap');

html {
	margin: 0;
}

body {
	margin: 0;
	background-color: #7fb8f8;
}

/* menu */

.menu {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 6vw;
	top: 0;
	padding: 0;
	margin: 0;
	background-color: #2f1cb0;
	box-shadow: 0 0 3px #000;
	z-index: 5;
}

.menu__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 18%;
	list-style: none;

}

.menu__logo {
	width: 80%;
}

.menu__title {
	padding: 3%;
	list-style-type: none;
	font-family: 'Manrope', sans-serif;
    font-size: 2.3vw;
	text-transform: uppercase;
	background-color: #f55d20;
    color: #ffffff;
}

.menu__user {
	text-align: center;
	width: 14vw;
	padding: 1%;
	font-family: 'Manrope', sans-serif;
	font-size: 1.2vw;
	background-color: #5E0DAC;
	color: #ffffff;
	border: none;
}

.menu__user:hover {
	cursor: pointer;
}

.menu__user-name-marker--close::after {
    content: " ";
    width: 0;
    height: 0;
    position: relative;
    top: 1.4vw;
    margin-left: 0.3vw;
    border-top: 0.8vw solid #808080;
    border-left: 0.4vw solid transparent;
    border-right: 0.4vw solid transparent;
}

.menu__user-name-marker--open::after {
    content: " ";
    width: 0;
    height: 0;
    position: relative;
    top: -1.2vw;
    margin-left: 0.3vw;
    border-bottom: 0.8vw solid #808080;
    border-left: 0.4vw solid transparent;
    border-right: 0.4vw solid transparent;
}

.menu__about-user-progress {
    display: none;
	position: absolute;
	text-align: left;
	width: 11vw;
	margin: 0;
	padding: 1% 1% 1% 1%;
	font-family: 'Manrope', sans-serif;
	font-size: 1vw;
	background-color: #781ccd;
}

.menu__about-user-progress--open {
	display: block;
	animation: menu__user-progress--open 0.5s ease-in-out;
}

.menu__about-user-item {
	margin: 1%;
	padding-left: 0.5vw;
	list-style: none;
	border-left: 3px solid #ffb700;
}

.menu__about-user-item:nth-child(1) {
	display: none;
}

.menu__about-user-item:nth-child(4) {
	padding-left: 0;
	border: none;
}

.menu__about-user-link {
	padding: 0.2vw 0.5vw 0.2vw 0.5vw;
	text-decoration: none;
	color: #000000;
	background-color: #ffda36;
	border-radius: 1vw;
}

.menu__button {
	display: none;
}

/*rating*/

.rating {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 7.5vw;;
}

.rating__item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80vw;
	padding: 2vw;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3vw;
	color: #ffffff;
	background-color: #1c72cd;
	animation: ease-in-out 1s appearance;
}

.rating__item:nth-child(2n) {
	background-color: #1e7ce0;
}

.rating__name {
	flex-basis: 20%;
	overflow: hidden;
}

.rating__scale-conteiner {
	flex-basis: 80%;
	padding: 0;
	overflow: hidden;
	background-color: #13559d;
	border-radius: 4vw;
}

.rating__scale {
	width: 5%;
	max-width: 99%;
	min-width: 3%;
	margin: 0;
	padding: 0 1vw 0 0;
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
	color: #d78303;
	background-color: #f1c013;
	border-radius: 1.5vw;
}

/*footer*/

.footer {
    position: absolute;
	width: 100%;
	margin-top: 6vw;
	background-color: #001a7a;
	box-shadow: 0 -1vw 0 1vw#0029cd;
}

.footer__list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.footer__list-item {
    text-align: center;
	list-style: none;
}

.footer__link {
	font-size: 1vw;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #007dc4;
}

.footer__link:hover {
	text-shadow: 0 0 0.5vw #00a2ff;
}
/*authorization*/

.authorization {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    margin: 10vh 20vw 0 20vw;
    background-color: #361fbe;
    border-radius: 15px;
}

.authorization__input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45%;
}

.authorization__email-input, .authorization__password-input {
	padding: 1.2vw;
	width: 50vw;
	font-size: 1.4vw;
	font-family: 'Manrope', sans-serif;
	border: none;
	border-radius: 2vw;
	outline: none;
}

.authorization__email-input:focus, .authorization__password-input:focus {
    font-size: 1.7vw;
    background-color: #fcffe6;
	border: 2px solid #00a2ff;
    transition: 0.2s;
}

.authorization__email-input--failed, .authorization__password-input--failed {
	color: #ff0000;
	box-shadow: 0 0 0.3vw 0.3vw #ff3333;
}

.authorization__submit-input {
	width: 25%;
	height: 50px;
	font-size: 2vw;
    font-family: 'Jost', sans-serif;
	color: #000000;
	border-radius: 15px;
	background-color: #ffda36;
	border: none;
	outline: none;
}

.authorization__submit-input:focus {
	box-shadow: 0 0 5px 2px #00a2ff;
	transition: 0.1s;
}

.authorization__submit-input:hover {
	cursor: pointer;
	box-shadow: 0 0 5px 2px #00a2ff;
	transition: 0.2s;
}

.authorization__submit-input:active {
	background-color: #ff4800;
}

/*administration-panel*/

.panel {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10vw;
}

.actions {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
	background-color: #4b42c5;
	border-radius: 10px;
}

.actions__title {
	text-align: center;
	font-family: 'Manrope', sans-serif;
	color: #ffffff;
}

.actions__list {
	display: flex;
	justify-content: space-around;
    align-items: center;
	padding: 0;
    width: 100%;
    height: 100%;
	list-style-type: none;

}

.actions__form-add {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	top: 0;
	margin-bottom:1vw;
	font-family: 'Manrope', sans-serif;
	color: #ffffff;
	background-color: #5E0DAC;
	border: none;
	border-radius: 20px;
}

.actions__form--open {
	display: flex;
	transition: 1s;
}

.actions__title {
	text-align: center;
	font-family: 'Manrope', sans-serif;
	color: #ffffff;
}

.actions__select {
	flex-basis: 30%;
	padding: 8px;
	font-size: 1.5vw;
	border-radius: 10px;
}

.actions__input {
	flex-basis: 30%;
	padding: 8px;
	font-size: 1.5vw;
	border-radius: 10px;
	border: none;
}

.actions__input-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
	margin: 1% 0 1% 0;
}

.actions__add-points, .actions__clear-points, .actions__submit {
	flex-basis: 30%;
	padding: 10px;
	font-family: 'Manrope', sans-serif;
	background-color: #fdb601;
	color: #ffffff;
	border: none;
	border-radius: 10px;
}

.actions__input-container button:hover {
	cursor: pointer;
	background-color: #ba8600
}

.actions__input-container button:active {
	outline: none;
}

/*registration*/

.registration-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 10vw;
    padding: 1vw;
	font-family: 'Manrope', sans-serif;
	background-color: #361fbe;
	border-radius: 0 0 2vw 2vw;
}

.registration-form__input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vw;
    width: 100%;
}

.registration-form__label {
	display: flex;
	flex-direction: column;
	width: 80%;
    color: #36b9ff;
}

.registration-form__email-input, .registration-form__name-input, .registration-form__password-input {
	padding: 1.2vw;
	width: 100%;
	font-size: 1.4vw;
	font-family: 'Manrope', sans-serif;
	border: none;
	border-radius: 2vw;
	outline: none;
}

.registration-form__email-input:focus, .registration-form__name-input:focus, .registration-form__password-input:focus {
    font-size: 1.7vw;
    background-color: #fcffe6;
    border: 2px solid #00a2ff;
    transition: 0.2s;
}

.registration-form__submit-input {
    width: 25%;
    height: 50px;
    font-size: 2vw;
    font-family: 'Jost', sans-serif;
    color: #000000;
    border-radius: 15px;
    background-color: #ffda36;
    border: none;
    outline: none;
}

.registration-form__submit-input:focus {
    box-shadow: 0 0 5px 2px #00a2ff;
    transition: 0.1s;
}

.registration-form__submit-input:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px #00a2ff;
    transition: 0.2s;
}

.registration-form__submit-input:active {
    background-color: #ff4800;
}

/*system error*/

.error-window {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 10vw 20vw;
	font-family: 'Manrope', sans-serif;
	background-color: #ffffff;
	border-radius: 2vw;
	box-shadow: 0 0 0.5vw 0.1vw #000000;
}

.error-window__logo {
	position: absolute;
	top: 0;
}

.error-window__title {
	font-size: 2vw;
}

.error-window__description {
	font-size: 1vw;
}

.error-window__error-message {
	font-size: 1.5vw;
}

.error-window__error {
	color: #ff0000;
}

/*nodata*/

.nodata {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}

@keyframes appearance {
	0% {
		margin-top: -0.5vh;
		filter: opacity(50%);
	}
	100% {
		margin-top: 0;
		filter: opacity(100%);
	}
}

@keyframes menu__user-progress--open {
	0% {
		height: 0;
		padding-top: 0;
		overflow: hidden;
	}
	100% {
		height: 7vw;
	}
}

/*layout for smartphones*/

@media screen and (max-width: 980px) {

	/*menu*/

	.menu {
		height: 20vw;
		font-size: 3vw;
	}

	.menu__item {
		flex-basis: 48%;
	}

	.menu__item:nth-child(2) {
		display: none;
	}

	.menu__item:nth-child(3) {
		flex-basis: 20%;
	}

	.menu__logo {
		position: relative;
		top: -1.4vw;
		width: 100%;
	}

	.menu__user {
		padding: 0;
		font-size: 5vw;
		background-color: transparent;
	}

	.menu__user-name {
		content: url("../img/user-icon.svg");
		width: 100%;
	}

	.menu__about-user-progress {
		top: 0;
		right: 0;
		left: 0;
		width: 100vw;
		height: 100vw;
		padding: 0;
		text-align: center;
	}

	.menu__user-name-marker--close::after {
		display: none;
	}

	.menu__user-name-marker--open::after {
		display: none;
	}

	.menu__about-user-item {
		font-size: 6.5vw;
		border: none;
	}

	.menu__about-user-item:nth-child(1) {
		display: block;
	}

	.menu__about-user-item:nth-child(4) {
		position: absolute;
		display: flex;
		width: 100vw;
		margin: 0;
		padding: 0;
		bottom: 0;
	}

	.menu__about-user-link {
		display: block;
		width: 50%;
		font-size: 5vw;
		color: #ffd9d9;
		background-color: rgba(255, 0, 0, 0.5);
		border: 0.5vw solid #88808a;
		border-radius: 0;
	}

	.menu__button {
		display: block;
		width: 50%;
		font-size: 5vw;
		color: #ffffff;
		background-color: transparent;
		border: 0.5vw solid #88808a;
	}

	/*rating*/

	.rating {
		margin: 20vw 0 0 0;
	}

	.rating__item {
		width: 96vw;
		padding: 5vw 2vw 5vw 2vw;
	}

	.rating__name {
		flex-basis: 48%;
		font-size: 5vw;
	}

	.rating__scale-conteiner {
		flex-basis: 48%;
	}

	.rating__scale {
		min-width: 22%;
		font-size: 5vw;
	}

	/*footer*/

	.footer {
		padding: 3vw 0 3vw 0;
	}

	.footer__link {
		font-size: 4vw;
	}

	.footer__list-item {
		flex-basis: 50vw;
		text-align: center;
	}

	.footer__list-item:nth-child(3) {
		display: none;
	}

	/*auth*/

	.authorization {
		height: 100%;
        margin: 0;
		padding: 7% 0 7% 0;
        border-radius: 0 0 3vw 3vw;
	}

    .authorization__logo {
        width: 80%;
    }

    .authorization__input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
		padding: 10% 0 10% 0;
    }

	.authorization__email-input, .authorization__password-input  {
		width: 80vw;
		margin: 6% 0 6% 0;
		padding:  4vw;
		font-size: 4.5vw;
		border-radius: 6vw;
	}

	.authorization__email-input:focus, .authorization__password-input:focus {
		font-size: 4.5vw;
		border: none;
		box-shadow: 0 0 0 0.5vw #fdb601;
	}

	.authorization__email-input--failed, .authorization__password-input--failed {
		border-radius: 0 6vw 6vw 0;
		border-left: 2vw solid #ff0000;
		box-shadow: none;
	}

	.authorization__submit-input {
		width: 70vw;
		height: 13vw;
		font-size: 9vw;
	}
	
	.nodata {
	    font-size: 3vw;
	}

	@keyframes menu__user-progress--open {
		0% {
			height: 0;
			padding-top: 0;
			overflow: hidden;
		}
		100% {
			height: 100vw;
		}
	}

}