@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

body {
    margin: 0;
}

nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 0 3px #000;
}

ul {
	display: flex;
}

.menu__logo {
	padding-left: 2%;
    width: 6%;
}

.menu__item {
	margin: 0;
    padding: 0 2% 0 2%;
	list-style-type: none;
    font-family: 'Manrope', sans-serif;
    font-size: 160%;
    color: #a1a1a1;
}