@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

/* menu */

body {
    margin: 0;
	background-color: #7fb8f8;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1c00ba;
	box-shadow: 0 0 3px #000;
}

.menu__logo {
	margin-left: 5%;
	padding: 1%;
	font-family: 'Manrope', sans-serif;
	font-size: 120%;
	color: #ffffff;
	background-color: #ffb700;
	box-shadow: -10px -10px 0 #ff5900;
}

.menu__item {
    padding: 1%;
	list-style-type: none;
	font-family: 'Manrope', sans-serif;
    font-size: 140%;
	background-color: #ff4800;
    color: #ffffff;
}

.menu__user-name {
	margin-right: 3%;
	padding: 1%;
	font-family: 'Manrope', sans-serif;
	font-size: 100%;
	background-color: #5E0DAC;
	color: #ffffff;
}

.menu__user-icon {
	padding-right: 1%;
	width: 15px;
}

.menu__about-user {
    display: none;
	position: absolute;
	padding: 2% 1% 2% 1%;
	width: 145px;
	font-family: 'Manrope', sans-serif;
	font-size: 80%;
	list-style-type: none;
	background-color: #781ccd;
}

.menu__user-name:hover .menu__about-user {
	display: block;
}

.menu__about-user-item {
	margin: 2%;
	padding-left: 5px;
	border-left: 3px solid #ffb700;
}

/*auth*/

.auth-form {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 50px 15% 0 15%;
	height: 400px;
	background-color: #1c00ba;
	border-radius: 15px;
}

.auth-form__logo {
	padding: 1%;
	font-family: 'Manrope', sans-serif;
	font-size: 160%;
	color: #ffffff;
	background-color: #ffb700;
	box-shadow: -10px -10px 0 #ff5900;
}

.auth-form__logo_blue {
	background-color: #7600ff;
}

.auth-form__input-text {
	padding: 15px;
	width: 60%;
	font-size: 130%;
	font-family: 'Manrope', sans-serif;
	border: 1px solid #fd5801;
	border-radius: 30px;
	outline: none;
}

.auth-form__input-text:focus {
	box-shadow: 0 0 7px 0 #fdb601;
}

.auth-form__input-submit {
	width: 25%;
	height: 50px;
	font-size: 140%;
	color: #ffffff;
	border-radius: 15px;
	background-color: #fbbd02;
	border: 2px solid #fd5801;
}

.auth-form__input-submit:hover {
	cursor: pointer;
}

.auth-form__input-submit:active {
	background-color: #ff4800;
}